body{
    background-color: #000000;
}
.brand{
    color: white;
    font-size: 26px;
    margin-top: 20px;
    margin-left:5px
}
.hero-section{
    background-image: url('/assets/images/globe.png');
    background-size:cover;
    background-position: bottom;
    background-repeat:no-repeat;
}
.notification-section{
    background-color: #000000;/* #1C1C1E;*/
} 
.feedback-section{
    background-color: #000000;/* #2C2C2E;*/
}
.yellow-line{
    width: 50px;
    margin: 0px auto;
    border: 1px solid #eefa03;
    opacity: 1;
}
.team-section{
    background-color: #1C1C1E;
}
footer{
    background-color: #2C2C2E;
}
.footer-links{
    text-align: left;
list-style: none;
}
.footer-links > li {
    margin: 6px 0px;
    }
.footer-links > li > a{
    text-decoration: none;
    color: #a7a7a7;
    font-size: 14px;
    }
.text-secondary {
    color: #a7a7a7 !important;
}


@media only screen and (max-width:760px) {
    .hero-section{
        text-align: center !important;
    }
    .qr-text{
        margin-top: 0px !important;
       }
       .qr-img{
        margin-bottom: 10px !important;
       }
       .notifications-img, .clarity-img{
        text-align: center !important;
        padding: 0px !important;
       }
       .notifications-img >img , .clarity-img> img{
        width: 75%;
       }
       .delay-sec{
        text-align: left !important;
       }
       .delay-sec > h3{
        padding-top: 5px !important;
       }
       .delay-img{
       width: 75% !important;
       }
       .delay-row, .clarity-sec{
        margin-top: 0px !important;
       }
       .delay-row >div{
        text-align: center;
        padding-top: 0px !important;
       }
  }
